body{
   background: #ffffff;
}

.tagline{
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
.tagline > div > h1 {
    font-size: 96px;
    font-weight: 500;
}

.tagline > div > h2 {
    font-weight: 500;
}
.image-first-heading img{
    width:400px; 
    height:400px;
}
.image-services img{
    width:250px; 
    height:250px;
}