body{
   background: #ffffff;
}

.tagline > div > div > h1 {
    font-size: 72px;
    font-weight: 500;
}

.tagline > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
}
.tagline > div > div > h2 {
    font-size: 46px;
    font-weight: 500;
}

.card-text{
    font-size: 12px;
    font-weight: 500;
    }
    
.image-first-heading img{
    width:400px; 
    height:400px;
}

.image-services img{
    width:250px; 
    height:250px;
}