body{
   background: #ffffff;
}

.tagline{
    background-image: url(../img/bg.jpg);
    height: 100vh;
}
.tagline > div > div > h1 {
    font-size: 128px;
    font-weight: 500;
}

.tagline > div > div > h2 {
    font-weight: 500;
}

.card-text{
    font-size: 12px;
    font-weight: 500;
    }
    
.image-first-heading img{
    width:400px; 
    height:400px;
}

.image-services img{
    width:250px; 
    height:250px;
}