<div class="container">
    <div class="row align-self-start">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor ullamcorper ligula sed imperdiet. Phasellus blandit elit lorem, sit amet volutpat erat condimentum tincidunt. Fusce sit amet arcu tincidunt, luctus nisi et, porta justo. Vivamus tempor ut neque eu malesuada. Donec ac dui sit amet lectus vestibulum sagittis.</p>
    </div>
    <div class="row">
    <div class="col-6 form-background border">
    <form>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-4 col-form-label mt-3 font-weight-bold text-end">Your E-mail</label>
        <div class="col-8 mt-3">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-4 col-form-label font-weight-bold text-end">Your message</label>
        <div class="col-8">
            <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-primary float-end mb-3">Submit</button>
    </form>
    </div>
    </div>