<!-- your html code here -->
<div class="row  p-5">
    <div class="col-12 border-bottom ">
        <h4>Portfolio</h4>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semprer. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="row py-5 mb-3">
            <div class="col-4">
                <div class="card border-0">
                    <img src="/website/assets/img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-4 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="/website/assets/img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-4 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="/website/assets/img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-4 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>