<!-- your html code here -->
<div class="container border-bottom mb-5">
    <div class="col-12">
        <h4>Portfolio</h4>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semprer. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="row py-5 mb-3">
            <div class="col-4 col-lg-4">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="placeholder">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-5 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="placeholder">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-5 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="placeholder">
                    <div class="card-body px-0 py-0">
                        <p class="text-primary fs-5 mt-2 mb-0 pb-0 fw-bold">Project Name</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>