<!-- your html code here -->
<div class="first-heading row col-12 px-5 py-5 ">
   
    <div class="image-services col-3 border-bottom py-5 pl-5 pr-0 ">
        <img src="/website/assets/img/2.jpg" class="rounded-circle  mt-5 mr-5 float-end">
    </div>
    <div class="text-services col-9 border-bottom py-5 pl-0 float-start">
        <h3>This second heading <span class="text-secondary">is pretty cool too.</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor ullamcorper ligula sed imperdiet. Phasellus blandit elit lorem, sit amet volutpat erat condimentum tincidunt. Fusce sit amet arcu tincidunt, luctus nisi et, porta justo. Vivamus tempor ut neque eu malesuada. Donec ac dui sit amet lectus vestibulum sagittis.</p>
    </div>
</div>